[Unit]
Description=Start vnc server on boot
After=syslog.target network.target network-online.target sway-session.target
Wants=network-online.target sway-session.target
BindsTo=sway-session.target

[Service]
Type=simple
ExecStart=/usr/bin/wayvnc -o DP-3 -C /home/mpennington/.config/wayvnc/config 0.0.0.0

[Install]
WantedBy=sway-session.target
